body {
  cursor: none;
}

.cursor-outline {
  width: 35px;
  height: 35px;
  border: 1px solid #353535;
  position: fixed;
  pointer-events: none;
  z-index: 1;
  transition: 0.2s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

button,
a,
li,
input,
.box {
  cursor: none !important;
}

.cursor {
  width: 7px;
  height: 7px;
  background-color: #272626;
  position: fixed;
  pointer-events: none;
  z-index: 1;
  border-radius: 50%;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}